body{
    background-image: url("https://image.freepik.com/free-photo/food-healthy-healthy-food-dinner-vegetarian_1220-1016.jpg");
    background-size: cover;
}
h1{
  font-size: 75px;
  color: #9f0000;
  border-style: double;
  border-color: black;
  position: top;
  margin-left: 300px;
  text-shadow: 10px 20px black;  margin: 30px;
  background-color: #ffffff;
  border: 4px solid black;
  opacity:.75;
  filter: alpha(opacity=60);
}
p{
  font-size: 35px;
  color: white;
  border-style: double;
  border-color: black;
}
