body{
    background-image: url("https://images.alphacoders.com/438/438979.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
h1{
  font-size: 60px;
  color: #9f0000;
  border-style: double;
  border-color: black;
  position: top;
  margin-left: 300px;
  text-shadow: 10px 10px black;  margin: 30px;
  background-color: #ffffff;
  border: 4px solid black;
  opacity:1.0;
  filter: alpha(opacity=60);
}
h2{
  font-family: 'Dosis', sans-serif;
  font-size: 45px;
  color: #9f0000;
  border-style: double;
  border-color: black;
  /*position: top;*/
  margin: center;
  background-color: #E1EFF6;
  border: 4px solid black;
  opacity:1.0;
  filter: alpha(opacity=60);
}

p{
  font-family: 'Dosis', sans-serif;
  font-size: 35px;
  color: black;
  border-style: double;
  margin:center;
  border-color: black;
  background-color: #E1EFF6;
  border: 4px solid black;
  opacity:1.0;
  filter: alpha(opacity=60);
}

#gif

img
{
width:10%;
height:10%;

}
