<!DOCTYPE html>
<html>
<title>Whats The Food | Food</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/resources/dessert.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<!-- TAB BAR -->
<div id="mySidenav" class="sidenav">
  <a href="/food" id="about">Food Home</a>
  <a href="/templates/boston.html" id="blog">Top 5 Places to Go in Boston </a>
  <a href="#" id="projects">Dessert </a>
</div>
<!-- END OF TAB BAR -->
<body>
<!-- Header Start -->
  <div class="w3-top">
    <div class="w3-bar w3-black w3-wide w3-padding w3-card-2">
      <a href="/" class="w3-bar-item w3-button"><img src="/resources/logo1.png" style="width:85px;"></a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <div class="barfont"><a href="/food" class="w3-bar-item w3-button">Food</a>
        <a href="/events.html" class="w3-bar-item w3-button">Events</a>
        <a href="/Fashion.html" class="w3-bar-item w3-button">Fashion</a>
      </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
<!-- Header Ends -->

<!-- ??-->
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <h1 class="w3-jumbo w3-animate-top">Must Hit restraurants In Boston</h1>
  <div class="w3-display-bottomleft w3-padding-large">
  </div>
</div>

<!-- ?? -->

<!--Boxes start -->
<div class="transbox">
  <div>
  <div class="text">
  </div>
</div>
<h2>Insomnia Cookies </h2>

        <ul>
          <img src="https://cdn2.hercampus.com/styles/full_width_embed/s3/2014/12/03/INSOMNIA.jpg" width="400" height="178">
              <li>  <p> One of the best Midnight Snacks<br>
                  you will ever have, a great trip into the city to <br>
                  indulge.<br> Something about cookies at 2am just sets the
                  perfect vibe for young adults.</p> </li></ul>
            <p><a href="https://insomniacookies.com/"> Insomnia Cookies </a> </p>

  </div>


<!-- Box 2 with all inputs -->
<div class="transbox">
  <div>
  <div class="text">
<h2>Georgetown Cupcake</h2>
<h3>
          <ul>
            <img class="picture" src="https://www.georgetowncupcake.com/Assets/body_images/store_bethesda.jpg" width="400" height="178">
              <li>An extensive menu of imaginative cupcakes
                <br>is the draw of this local outpost of a cupcake chain.</li>
          </ul>
        <h4><a href="https://www.georgetowncupcake.com/">Georgetown Cupcake</a>  </h4>

  </div>
  </div>
</div>
<!-- Box 3 with all inputs -->
<div class="transbox">
  <div>
  <div class="text">
  <h2>Toscanini's Ice Cream</h2>
  <h3>
          <ul>
              <img class="picture"src="http://www.seriouseats.com/images/20080912tosci1.jpg" width="400" height="178">
                <li>Longtime favorite for<br>
                  espresso & gourmet ice cream in<br>
                  a range of unique flavors that changes often. </li>
          </ul>
          <h4><a href="https://www.tosci.com/">Toscanini's Ice Cream</a> </h4>
  </div>

  </div>
  </div>
