<!DOCTYPE html>
<head>
<title> What's the Move? | Fashion </title>
<style> body {background-image: url("http://wallpapercave.com/wp/b40KYP4.jpg");
            background-size: cover;
            background-color: black;
            background-repeat: no-repeat;}
        h1, h3 {color: white;}
        #border {border: 10px solid #4281A4;
                padding: 15px;}
        img {
          height: 15%;
          width:15%;}

</style>
</head>
<body>
<div id=border>
  <img src="/resources/logo1.png">
<h1> Fashion </h1>







<h3> This is your most reliable resource that will lead you to stores that have the latest fashion trends at a low price near you!</h3>
<p> <a href="casual.html">
      Casual Wear</a> -
      <a href="fitness.html">Fitness Wear</a> -
      <a href="formal.html">Formal Wear </a> <p>
<div>
</body>
</html>
