<!DOCTYPE html>
<link href="moves.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
<head>
<style>
          html{
            height: 100%;
          }
          body {background-image:url('/resources/water.gif');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              height:100%;
            }
              title{

              }
          h1, h2 {color: white;
                  text-align: center;
            }</style>
<title> What's the move?</title>
</head>
<body>
  <div class="gif-container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<h1> What's the move? </h1>
  <h2>  Events/Activities -
      <a href="Fashion.html">Fashion</a>
      <a href="/food">Food </a>  </h2>
  </div>
</body>
</html>
