<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="/resources/tab1.css"/>
   <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

<title> Places to go on a Budget</title>
</head>
<body>
<h1> Places To Go On A Budget </h1>
 <img id="gif" scr="http://gph.is/22YR25b"/>

<p>  We all know what its like being a broke college student or the rough
  inbetween age where you havent yet gotten a career to splurge but you're
  on the right path to the money</p>

 <h2> Top 5r Places To Eat On a Budget <h2>
<ol>
    <li>  <p> <a href="http://www.tastyburger.com/tasty-burger-fenway/#"> TASTY BURGERS
              </a> </p> </li>
              <img id="pic"src= "https://frontroweats.files.wordpress.com/2011/04/dsc0240.jpg"/>
          <ul> <li> Juciy cooked to perfection burgers, the price ranges
                    from 2.75 for freshly cut and crispy fries, 4.75 for
                    delicous milkshakes and 6.25 for mouth watering burgers
          </ul></li>

  <li> <p> <a href= "https://www.yelp.com/biz/the-shops-at-porter-cambridge" > Porter Exchange
            </a>  </p> </li>
            <img  url id="pic"src= "https://s-media-cache-ak0.pinimg.com/originals/92/0c/94/920c942c11f660352f03b2c32ee66b41.jpg"/>
        <ul> <li> Fantastic Japanese food is hiding inside of a Lesley University
          building right in the heart of Porter Square,and it’s full of inexpensive
          dining options,from ramen to sushi to soft tofu stews.</li>
             <li> Top picks include the spicy miso ramen at Sapporo Ramen ($9.80),
                the Tokyo hamburg set at Cafe Mami ($9.99) </li> </ul>

  <li> <p> <a href="http://neighborhoodscafe.com/"> Neighbodhood Cafe </a> </p> </li>
           <img id="pic" src= https://lindseyschmidt.files.wordpress.com/2013/11/photo-4-3.jpg>

        <ul> <li> A friendly engergic atmosphere, a great place to get coffee or breakfast
                This artisan coffee and crepe shop seeks to offer the best and freshest products while
                connecting communities nearby and abroad by offering fair trade coffee and tea & locally
                sourced ingredients. </li> </ul>

  <li> <p> <a href="http://www.meimeiboston.com/#about-1"> MEI MEI </a> </p> </li>
           <img id="pic" src=https://static1.squarespace.com/static/53c44f46e4b0dadc9916ed38/t/53c4922de4b02bad4236515d/1405391419547/BG.jpg?format=1500w/>
       <ul> <li> The food at Mei Mei's is simple yet unexpected, highlighting the flavors of fresh,
                 locally-sourced ingredients within ingenious Chinese-American fusion concoction.
                 Mei Mei is a little place that offers great and different food in the area.</li> </ul>


  <li> <p> <a href= "https://www.yelp.com/biz/galleria-umberto-boston"> Galleria Umberto </a> </p> </li>
            <img id="pic"src= "https://s-media-cache-ak0.pinimg.com/236x/90/4b/2a/904b2a40c4e2298c8a57409a3df3950f--pasta-pizza-recognition-awards.jpg"/>
      <ul> <li> This place can easily become one of your favorite locations to eat,the guys who
                work up front are super friendly and helpful.The guys who work up front are super
                friendly and helpful.For just over $5, YOU can have a feast for lunch. </ul> </li>

   <li> <p> <a href= "https://locations.qdoba.com/us/ma/boston/393-huntington-ave.html?utm_source=Listings"> </a> </p> </li>
            <img id="pic" src= http://media.bizj.us/view/img/4030001/qdoba-line*750xx3000-1688-0-156.jpg />
        <ul> <li> Qdoba has mastered the art of slathering differing levels of heat-laden, mouth-watering,
                  stomach-gasm inducing Queso. The best thing about Qdoba the prices are affordable and
                  there is so many options options.Qdoba is definitely one of those places that keeps you
                  coming back even if you don't enjoy a specific visit.</ul> </li>


 </ol>
